/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* nav related styles */
nav {
  display: flex;
}
